header{
    display: flex;
    justify-content: center;
    height: 460px;
    background: linear-gradient(90deg, $darkPurple 0.96%, $purple 99.44%), $purple;
    
    .content{
        width: 500px;
    }

    img{
        width: 375px;
        height: 369px;
        border: 5px solid #9597CB;
        box-sizing: border-box;
        border-radius: 200px;
    }

    h1{
        font-family: 'Fondamento', cursive;
        font-size: $xLarge;
        color: $white;
        text-shadow: -1px 4px 1px rgba(0, 0, 0, 0.25);
    }

    .subtitle{
        font-size: $large;
        margin: 20px 0;
        color: $darkPurple;
    }

    p{
        font-size: $normal;
        color: $white;
        text-align: justify;
    }
}